.modal-style {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #747474;
  outline: none;
  text-align: center;
}

.users-table {
  margin: 0 auto;
}
