.select-debitor {
  margin-bottom: 1rem !important;
}

.select-box {
  background-color: #474747;
  color: #ffffff;
  outline: none;
  height: 2rem;
  font-size: 1.17em;
  width: 20rem;
  margin-bottom: 2rem;
  text-align: center;
}
