p,
a,
span,
label,
th,
td,
h2,
h3,
input {
  color: #ffffff;
}

a:hover {
  border-bottom-color: #747474;
}

.main-content-wrapper {
  overflow: scroll;
}

.non-selected-link {
  color: #747474;
  font-weight: bold;
  border-bottom: 0.1rem solid transparent;
  text-decoration: none;
  padding: 2rem;
  padding-bottom: 0.2rem;
  text-decoration: none;
}

.selected {
  color: #ffffff !important;
  border-bottom-color: #fff;
}

.app-title {
  text-align: center;
}

.nav {
  text-align: center;
}

.app-container {
  padding: 0.2rem;
}
